<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <!-- This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>external:*,!prototype</mirrorOf>
      <url>https://arm101-eiffel052.lmera.ericsson.se:8443/nexus/content/groups/eo-repositories</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!-- Enable snapshots for the built in central repo to direct -->
      <!-- all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>     
  </profiles>
  <activeProfiles>
    <!-- make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
 
  <pluginGroups>
    <!-- define the sonatype plugin group, so the nexus plugins will work without typing the groupId -->
    <pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>eo-releases</id>
      <username>amadm100</username>
      <password>{WNI/Z/1GCh0HK4Rzt0gXYonPSi8S/Qe/3ptlPFRTe657YqUXO3Ccg37B50cfB9nU}</password>
    </server>
    <server>
      <id>eo-snapshots</id>
      <username>amadm100</username>
      <password>{WNI/Z/1GCh0HK4Rzt0gXYonPSi8S/Qe/3ptlPFRTe657YqUXO3Ccg37B50cfB9nU}</password>
    </server>
  </servers>
 
</settings>
